<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>photo album</title>
    <link rel="stylesheet" href="stylesheets/photoAlbum.css"/>
    <link rel="stylesheet" href="stylesheets/lib/animate.min.css"/>

</head>
<body>
<div id="container">

</div>

<script src="javascripts/lib/zepto.min.js"></script>
<script src="javascripts/photoAlbum.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>